<div class="grid-row" id="awards">
    <div class="projects-row">
        <section class="project-item" id="whython">
            <h1>SHEFJAM 9 WINNERS <a class="github" href="https://github.com/shefjam9/Five-Nights-In-Newcastle" target="_blank"><i class="fa fa-github"></i></a></h1>
            <h2>Shefjam is a competition ran by the Sheffield Computer Science Society. Its a 42 hour programming a event where we have to make a game based on a theme, this year being villains. Our team developed a PvE game where the player has to survive 5 Nights in Newcastle. One player tries to survive and another controls the environment to stop them from surviving. We won best game overall and best name.</h2>  
        </section>
        <section class="project-item" id="video-to-ascii">
            <h1>PROJECT FALCON <a class="github" href="https://www.projectfalcon.uk" target="_blank"><i class="fa fa-rocket"></i></a></h1>
            <h2>Project Falcon is a Sheffield student lead project for IMechE. This is a competition where students have to build and fly an autonomous drone through a track. We will be competing in IMechE 2023 and I will be responsible for helping create the autonomous side of the drone. I am part of the missions engineering team, which is a team consisting of 5 Sheffield students from many different courses.</h2>  
        </section>
    </div>
    <section class="grid-item" style="max-width: 100vw !important">
        <h1>PREVIOUS WORK EXPERIENCE</h1>
        <h2>Take a look at my past and current jobs</h2>
        <a href="#work"><i class="fa fa-caret-down icon-caret-down"></i></a>  
    </section>
</div>