<div class="grid-row" id="favourite-projects">
    <div class="projects-row">
        <section class="project-item" id="whython">
            <h1>WHYTHON <a class="github" href="https://github.com/nexinfinite/whython" target="_blank"><i class="fa fa-github"></i></a></h1>
            <h2>Whython is an almost fully customizable language written in python, its syntax is based of Visual Basic. This is a project language written for fun which allows you to create your own language; from pseudocode syntax to emoji code, the choice is yours.</h2>  
        </section>
        <section class="project-item" id="video-to-ascii">
            <h1>VIDEO TO ASCII <a class="github" href="https://github.com/nexinfinite/videotoascii" target="_blank"><i class="fa fa-github"></i></a></h1>
            <h2>Video to ASCII was a project written over a weekend which takes a YouTube video and converts the output the ASCII art in a bash terminal in real time. It was written in Python and had some updates later on which pushed real time rendering of your monitor.</h2>  
        </section>
    </div>
    <section class="grid-item" style="max-width: 100vw !important">
        <h1>AWARDS AND COMPETITIONS</h1>
        <h2>Take a look at competitions I've attended and awards I have won</h2>
        <a href="#awards"><i class="fa fa-caret-down icon-caret-down"></i></a>  
    </section>
</div>