<div class="grid-row" id="work">
    <div class="projects-row">
        <section class="project-item" id="whython">
            <h1>STREETS SYSTEMS <a class="github" href="https://streets.systems/" target="_blank"><i class="fa fa-rocket"></i></a></i></a></h1>
            <h2>Streets systems is a company based out of Newcastle that aims to use their own devices to track people coming in and out of a “gate”. These gates are tracked with cameras and then the information about the gates is relayed to my backend API. My job was to create a dashboard and backend API for customers and admins to track information. This was written in Python and Flask.</h2>  
        </section>
        <section class="project-item" id="video-to-ascii">
            <h1>VARSITY TUTORS <a class="github" href="https://www.varsitytutors.com/" target="_blank"><i class="fa fa-rocket"></i></a></h1>
            <h2>Varsity Tutors is an American company that runs worldwide. It is a platform that allows tutors to be matched with clients, and has a great tutoring platform to allow tutors to teach interactively. I tutor python and A Level OCR Computer Science to a couple students. This is my current job.</h2>  
        </section>
    </div>
    <section class="grid-item" style="max-width: 100vw !important">
        <h1>CONTACT ME</h1>
        <h2>Want to freelance me? Contact me below! You can also see my social media below.</h2>
        <a href="#contact" onclick="showFooter()"><i class="fa fa-caret-down icon-caret-down"></i></a>  
    </section>
</div>