<!DOCTYPE html>
<!-- Inheritance -->
{% extends "parent.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

<!-- Main content -->
{% block content %}
    <div class="grid-row" id="landing">
        <header class="grid-item">
            <h1>WELCOME</h1>
            <h2>I'm Julian</h2>
            <a href="#what-i-do"><i class="fa fa-caret-down icon-caret-down"></i></a>  
        </header>
    </div>


    <div class="grid-row" id="what-i-do">
        <section class="grid-item">
            <h1>WHAT I DO</h1>
            <h2>I am a Computer Science student studying at the University of Sheffield. I am a self taught programmer who works in Python, JavaScript, and Java. I have been writing python for almost 5 years and freelance backend API development in Flask. </h2>  
        </section>
        <section class="grid-item">
            <h1>TAKE A LOOK</h1>
            <h2>Take a look at my favourite projects below</h2>
            <a href="#favourite-projects"><i class="fa fa-caret-down icon-caret-down"></i></a>  
        </section>
    </div>

    <div class="grid-row" id="favourite-projects">
        <div class="projects-row">
            <section class="project-item" id="whython">
                <h1>WHYTHON&hairsp;<a class="github" href="https://github.com/nexinfinite/whython" target="_blank"><i class="fa fa-github"></i></a></h1>
                <h2>Whython is an almost fully customizable language written in python, its syntax is based of Visual Basic. This is a project language written for fun which allows you to create your own language; from pseudocode syntax to emoji code, the choice is yours.</h2>  
            </section>
            <section class="project-item" id="video-to-ascii">
                <h1>VIDEO TO ASCII&hairsp;<a class="github" href="https://github.com/nexinfinite/video-to-ascii" target="_blank"><i class="fa fa-github"></i></a></h1>
                <h2>Video to ASCII was a project written over a weekend which takes a YouTube video and converts the output the ASCII art in a bash terminal in real time. It was written in Python and had some updates later on which pushed real time rendering of your monitor.</h2>  
            </section>
        </div>
        <section class="grid-item" style="max-width: 100vw !important">
            <h1>AWARDS AND COMPETITIONS</h1>
            <h2>Take a look at competitions I've attended and awards I have won</h2>
            <a href="#landing"><i class="fa fa-caret-down icon-caret-down"></i></a>  
        </section>
    </div>
{% endblock %}