<!DOCTYPE html>
<!-- Inheritance -->
{% extends "parent.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

<!-- Main content -->
{% block content %}
    <div class="grid-row" id="landing">
        <header class="grid-item">
            <h1>WELCOME</h1>
            <h2>I'm Julian</h2>
            <a href="#what-i-do"><i class="fa fa-caret-down icon-caret-down"></i></a>  
        </header>
    </div>


    <div class="grid-row" id="what-i-do">
        <section class="grid-item">
            <h1>WHAT I DO</h1>
            <h2>I am a Computer Science student studying at the University of Sheffield. I am a self taught programmer who works in Python, JavaScript, and Java. I have been writing python for almost 5 years and freelance backend API development in Flask. </h2>  
        </section>
        <section class="grid-item">
            <h1>TAKE A LOOK</h1>
            <h2>Take a look at my favourite projects below</h2>
            <a href="#favourite-projects"><i class="fa fa-caret-down icon-caret-down"></i></a>  
        </section>
    </div>

    <div class="grid-row" id="favourite-projects">
        <section class="grid-item">
            <h1>WHAT I DO</h1>
            <h2>I am a Computer Science student studying at the University of Sheffield. I am a self taught programmer who works in Python, JavaScript, and Java. I have been writing python for almost 5 years and freelance backend API development in Flask. </h2>  
        </section>
        <section class="grid-item">
            <h1>AWARDS AND COMPETITIONS</h1>
            <h2>Take a look at competitions I've attended and awards I have won</h2>
            <a href="#landing"><i class="fa fa-caret-down icon-caret-down"></i></a>  
        </section>
    </div>
{% endblock %}