<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julian Jones</title>

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src=" https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js "></script>
    
    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- 
        MADE BY: Julian Jones.
        Yes I made this all from scratch with html/css/js. No frameworks were used. No I do not hate myself.
     -->
    <div class="main-grid">
        <div id="particles-js"></div> 
        {% block content %}
        {% endblock %}
    </div>  
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
</body>
</html>