<div class="grid-row" id="contact">
    <section class="grid-item">
        <h1>FREELANCE ME</h1>
        <h2>Feel free to contact me on any of my social media's below</h2>  
    </section>
    <section class="grid-item">
        <div class="button-grid">
            <button class="button-item">
                <a href="https://github.com/nexinfinite" target="_blank">
                    <span>GITHUB</span>
                </a>
            </button>
            <button class="button-item">
                <a href="https://www.linkedin.com/in/julian-jones-b5bb66207/" target="_blank">
                    <span>LINKEDIN</span>
                </a>
            </button>
            <button class="button-item">
                <a href="mailto:julianjones663@gmail.com">
                    <span>EMAIL</span>
                </a>
            </button>
            <button class="button-item">
                <a class="smaller-font" href="https://www.github.com/nexinfinite/portfolio" target="_blank">
                    <span>GITHUB REPO</span>
                </a>
            </button>
        </div>
    </section>
    <section class="grid-item">
        <h1>BACK TO TOP</h1>
        <h2>Finished looking or want to go back to through my portfolio? Click below or the icon in the top right!</h2>
        <a href="#landing" onclick="hideBackToTop()"><i class="fa fa-caret-down icon-caret-down"></i></a>  
    </section>
    {% include "components/footer.html" %}
</div>