/*
    Color schemes: https://visme.co/blog/website-color-schemes/
*/
:root {
    /* Colours */
    --main-bg-color: #0b0c10;
    --secondary-bg-color: #1f2833;
    --accent: #c5c6c7;
    --secondary-main: #45a29e;
    --main: #66fcf1;

    /* Transition Durations */
    --transition-duration: 0.25s;

    /* Font weights */
    --font-weight-light: 200;
    --font-weight-normal: 500;
    --font-weight-bold: 900;
}

/* General */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main);
    font-family: 'Martian Mono', monospace;
    overflow: hidden;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}
a { color: var(--secondary-main ); }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Headers */
header h1, header h2, section h1, section h2 { text-align: center; margin: 0; padding: 0 0 0.1em 0; }
header h1 { color: var(--main); font-weight: var(--font-weight-bold); font-size: 3em; }
header h2 { color: var(--accent); font-weight: var(--font-weight-light); font-size: 1.5em; }
header [class*=" icon-"], section [class*=" icon-"] { 
    color: var(--accent); 
    font-size: 2em; 
    text-align: center; 
    transition: font-size var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out; 
}
header [class*=" icon-"]:hover, section [class*=" icon-"]:hover {
    font-size: 3em; 
    color: var(--main); 
    cursor: pointer;
}

/* Sections */
section { padding-bottom: 2em; }
section h1 { color: var(--main); font-weight: var(--font-weight-bold); font-size: 2em; }
section h2 { color: var(--accent); font-weight: var(--font-weight-light); font-size: 1.25em; }

/* Particle.js */
.particles-js-canvas-el{ position: absolute; }
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/* Grids */
.main-grid{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}
.grid-row {
    z-index: 1;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
.grid-item { max-width: 70vw; }

/* Project row */
.projects-row {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}
.project-item { max-width: 40vw; margin: 0 4em 0 4em;}

#landing {grid-row: 1;}
#what-i-do {grid-row: 2;}
#favourite-projects {grid-row: 3;}
#whython {grid-column: 1;}
#video-to-ascii {grid-column: 2;}

/* Back to top */
.back-to-top {
    position: relative;
    top: 0.2em;
    right: 1em;
    float: right; 
    font-size: 2em;   
}